<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <% arr.forEach(digit => { %>
            <li>
            <h4>Name : <spans style="color: rgb(255, 170, 0);"> <%= digit.name %></span></h4> 
            <h4>Salary : <span style="color: rgb(255, 196, 0);"><%= digit.sal %></sapn></h4>
            </li>
        <% }); %>
    </ol>
</body>
</html>